@model IEnumerable<ShoppingWebsiteMVC.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th align="right">
            <form method="get">
                @Html.TextBox("StudentName", new { @class = "form-control" })
                <input type="submit" value="Search" class="btn btn-default" />
            </form>
        </th>
    </tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CategoryName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.CategoryName, "Index", new { category = item.CategoryName }) |
            </td>
        </tr>
    }
    <tr>
        <td>
            @Html.ActionLink("All Products", "Index", new { category = "All" }) |
        </td>
    </tr>

</table>
