@model IEnumerable<ShoppingWebsiteMVC.Models.Category>

@{
    ViewBag.Title = "Categories";
    ViewBag.four = "active";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Categories</h2>

<p>
    @Html.ActionLink("Create New", "NewCategory")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "NewCategory", new { id = item.CategoryId }) |
            </td>
        </tr>
    }

</table>
