
@{
    ViewBag.Title = "Report";
    ViewBag.seven = "active";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}


<div class="container card m-5">
    <h2 class=" card-title">Generate Report</h2>
    @using (Html.BeginForm("Report", "Admin", FormMethod.Post, new { @class = "form-inline m-3" }))
    {
        @Html.TextBox("TDate", null, new { @class = "form-control", @type = "Date" })

        <button type="submit" class="btn btn-success btn-sm ml-2"><i class="fa fa-search"></i></button>
    }
</div>

